@import "./variables";

/* -------------------------------------------------- FOOTER + LOGO INFERIOR */
footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
}

.footerBorder {
    background-color: $primary-color;
    height: 5px;
}

.footerImg {
    margin: 10px;
    height: 65px;
}

.footerBorder--ancho {
    background-color: $primary-color;
    height: 35px;
    text-align: left;
    padding: 5px;
}
